body {
    font-family: 'Balsamiq Sans', cursive;

}

h1 {
    background-color: black;
    color: azure;
    text-align: center;
    padding: 30px;
    font-size: 50px;
}

h2 {
    text-align: center
    ;
}

