.hero {
  width: 100vw;
  height: 400px;
  background-image: url(./img/hero.jpg);
  background-size: cover;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.hero nav {
  align-self: flex-end;
  font-size: 25px;
  padding-right: 200px;
}
.navmaster {
  position: fixed;
  right: 50px;
  top: 20px;
  padding: 10px;
}

.dropdown {
  position: relative;
  width: 230px;
  filter: url(#goo);
}
.dropdown__face,
.dropdown__items {
  background-color: #fff;
  padding: 20px;
  border-radius: 25px;
}
.dropdown__face {
  display: block;
  position: relative;
}
.dropdown__items {
  margin: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  list-style: none;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
}
.dropdown__items::before {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  right: 20%;
  height: 40px;
  width: 20px;
}
.dropdown__arrow {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateY(-50%);
  transform-origin: right;
}
.dropdown input {
  display: none;
}
.dropdown input:checked ~ .dropdown__items {
  top: calc(100% + 25px);
  visibility: visible;
  opacity: 1;
}

/* body {
  background-image: linear-gradient(140deg, #e2e2e2, #cdcdcd);
  display: grid;
  place-items: center;
  font-family: "Lato", Arial, sans-serif;
  height: 100vh;
  margin: 0;
} */

* {
  box-sizing: border-box;
}

svg {
  display: none;
}

nav a {
  color: thistle;

  border-radius: 10px;
}

.hero h1,
.hero h2 {
  background-color: #00000075;
  color: azure;
  align-self: center;
  padding: 20px;
  border-radius: 10px;
}

.hero h1 {
  border-top: 160px;
  border-bottom: 10px;
  font-size: 48px;
}
.hero h2 {
  border-top: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  margin: 0px;
  background-image: url(./img/back.jpg);
  background-size: cover;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Interests {
  background-color: dodgerblue;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
}
.Interests h2 {
  font-size: 32px;
  text-align: center;
}

.Interests ul {
  padding-left: 40%;
}

.films {
  background-color: dodgerblue;
  border-radius: 20px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.films h2 {
  text-align: center;
  font-size: 32px;
}
.films ul {
  padding-left: 45%;
}
.film_img {
  display: flexbox;
  padding: 10px;
}

.games {
  background-color: dodgerblue;
  border-radius: 20px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.games h2 {
  text-align: center;
  font-size: 32px;
}
.games ul {
  padding-left: 45%;
}
.games_img {
  display: flexbox;
  padding: 10px;
}

#isabelle {
  padding-bottom: 15px;
}
.art {
  background-color: dodgerblue;
  border-radius: 20px;
  padding-top: 15px;
  margin-bottom: 10px;
}
.art h3 {
  text-align: center;
  font-size: 32px;
}
.artembeds {
  padding: 10px;
}
.tweets {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 2;
  /* border: 10px solid black; */
}

footer {
  text-align: center;
}
